# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Project specific
data/raw/*
data/processed/*
data/metrics/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/metrics/.gitkeep
logs/*
!logs/.gitkeep
!logs/archive/.gitkeep
config/.env
models/sentiment/*
models/sentiment_improved/*
!models/sentiment/.gitkeep

# Node
dashboard/node_modules/
dashboard/.pnp
dashboard/.pnp.js
dashboard/coverage/
dashboard/build/
dashboard/.DS_Store
dashboard/.env.local
dashboard/.env.development.local
dashboard/.env.test.local
dashboard/.env.production.local
dashboard/npm-debug.log*
dashboard/yarn-debug.log*
dashboard/yarn-error.log*

.env
node_modules

sentiment_model/

*.log